body {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../docs/assets/imgs/background.webp");
}

p {
  color: black;
  font-size: 25px;
}

#game-board{
  text-align: center;
  box-sizing: content-box;
}

canvas {
  border-width: 5px;
  border-color: black;
  border-style:inset;
  border-radius: 100px;
  background-image: url("../docs/assets/imgs/BATTLESHIP.png");
  background-size: 100% 100%;
  border-radius: 40px;
  margin-top: 15%;
}

button {
  display: block;
  width:100%;
  border-style: hidden;
  border-radius: 100px;
  color: rgb(233, 229, 229);
  background-color: rgb(33, 32, 32);
  font-size: 1.5rem;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  padding: 1%;
}

.highestScore {
  margin: 5px;
  padding: 5px;
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(211, 208, 208);
  color: rgb(211, 208, 208);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
